{% extends 'base.html.twig' %}

{% block title %}HandyHub | Quiénes somos{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('about') }}
{% endblock %}

{% block body %}
{# CABECERA #}
    <header class="header">
        <div class="header__icon"><img src="{{ asset('resources/images/logo-light.png') }}" /></div>
        <div class="ds-menu">
            <nav class="header__nav">
                <ul>
                    <li><a href="{{ path('app_index') }}">Inicio</a></li>
                    <li><a href="{{ path('app_about') }}">Quiénes somos</a></li>
                    <li><a href="{{ path('app_services') }}">Servicios</a></li>
                    <li><a href="{{ path('app_support') }}">Soporte</a></li>
                </ul>
            </nav>
            <div class="header__button">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div>
                        <img src="{{ asset(app.user.image) }}" alt="User image" />
                        <ul class="dropdown-menu">
                            {% if is_granted('ROLE_SUPERADMIN') or is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_admin_panel') }}">Panel de administrador</a>
                                </li>
                            {% elseif is_granted('ROLE_CLIENT') %}
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_client_panel') }}">Mi cuenta</a>
                                </li>
                            {% else %}
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_specialist_panel') }}">Mi cuenta</a>
                                </li>
                            {% endif %}
                            <li>
                                <a class="dropdown-item" href="logout">Desconectar</a>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <a class="login" href="{{ path('app_login') }}">Entrar</a>
                {% endif %}
            </div>
        </div>
        <div class="sm-menu">
            <div id="menu" class="menu btn1" data-menu="1">
                <div class="icon-left"></div>
                <div class="icon-right"></div>
            </div>
            <div id="menu-toggler" class="menu-container">
                <div class="menu-flex">
                    <a href="{{ path('app_index') }}">Inicio</a>
                    <a href="{{ path('app_about') }}">Quiénes somos</a>
                    <a href="{{ path('app_services') }}">Servicios</a>
                    <a href="{{ path('app_support') }}">Soporte</a>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        {% if is_granted('ROLE_SUPERADMIN') or is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_admin_panel') }}">Panel de admin</a>
                        {% elseif is_granted('ROLE_CLIENT') %}
                            <a href="{{ path('app_client_panel') }}">Mi cuenta</a>
                        {% else %}
                            <a href="{{ path('app_specialist_panel') }}">Mi cuenta</a>
                        {% endif %}
                        <a class="dropdown-item disconnect" href="{{ path('app_logout') }}">Desconectar</a>
                    {% else %}
                        <a class="login login-mobile" href="{{ path('app_login') }}">Entrar</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <div class="we-are-block">
        <div id="about-us-section" class="about__bg">
            <div class="about-us-info about">
                <h1>Quiénes somos</h1>
            </div>
        </div>
        <div id="about-us-section">
            <div class="about-us-image">
                <img src="https://digitalupgrade.com/images/lobbyimage_1.jpg" width="808" height="458" alt="Lobby Image">
            </div>
            <div class="about-us-info two">
                <h2>Sobre HandyHub</h2>
                <p>
                    HandyHub es una aplicación que te permite buscar y encontrar 
                    profesionales del oficio (carpinteros, electricistas, 
                    fontaneros, etc.) de forma rápida y sencilla. Nacimos en 2017 
                    con el objetivo de satisfacer las necesidades de los clientes 
                    al momento de buscar y contratar al profesional que requieran 
                    sin esperas ni intermediarios.
                </p>
            </div>
        </div>
        <div id="history-section" class="history-section">
            <div class="history-image">
                <img src="https://digitalupgrade.com/images/building_pic.jpg" width="951" height="471" alt="Building Pic">
            </div>
            <div class="history-info">
                <h2>El oficio que necesitas, cuando lo necesitas</h2>
                <p>
                    Gracias a nuestra app, más de 5000 personas han encontrado al 
                    profesional que necesitaban para sus trabajos y proyectos. 
                    Además, contamos con un equipo de soporte que está siempre 
                    disponible para resolver cualquier incidencia que pueda surgir 
                    durante el servicio. En HandyHub, nos preocupamos por tu 
                    satisfacción y seguridad.
                    HandyHub es la solución ideal para resolver cualquier problema 
                    o proyecto que tengas en tu hogar o negocio, sin complicaciones 
                    ni sorpresas. HandyHub es la app que te conecta con los mejores 
                    profesionales del oficio cerca de ti.
                </p>
            </div>
        </div>
    </div>

    {# FOOTER #}
    <footer class="footer">
        <div class="footer__container">
            <section>
                <div class="social-media">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/>
                    </svg>
                </div>
                <div class="contact">
                    <div class="info">
                        <div class="logo">
                            <img src="{{ asset('resources/images/logo-dark.png') }}" alt="logo"/>
                        </div>
                        <div class="contact-info">
                            <p><span class="material-icons">call</span> +34 900 50 50 75</p>
                            <p><span class="material-icons">email</span> staff@hundyhub.com</p>
                            <p><span class="material-icons">location_on</span> Av. Iglesia, 23, 37914, Cipérez(Salamanca)</p>
                        </div>
                    </div>
                    <div class="privacy">
                        <h3>Condiciones</h3>
                        <a href="#">Términos y condiciones</a>
                        <a href="#">Política de privacidad</a>
                        <a href="#">Política de cookies</a>
                    </div>
                    <div class="about-us">
                        <h3>Sobre nosotros</h3>
                        <a href="#">¿Quiénes somos?</a>
                        <a href="#">Trabaja con nosotros</a>
                        <a href="#">FAQ</a>
                    </div>
                    <div class="newsletter">
                        <h3>Newsletter</h3>
                        <p>¡No te pierdas nuestras últimas ofertas y novedades!</p>
                        <div class="subscription">
                            <input type="email" name="email">
                            <button type="button"><span class="material-icons">send</span></button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="copyright">
                <p>&copy; 2023 HandyHub. Todos los derechos reservados</p>
            </section>
        </div>
    </footer>
{% endblock %}
