{% extends 'base.html.twig' %}

{% block title %}HandyHub | Admin{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('panels-css') }}
    {{ encore_entry_link_tags('table') }}
{% endblock %}

{% block body %}
    <div id="editPopup" style="display: none;">
        <form id="editForm">
            <input type="hidden" id="categoryId" name="id" value="">
            <label for="categoryName">Nombre de la categoría</label>
            <input type="text" id="categoryName" name="name" value="">
            <button type="button" id="submitEdit">Editar</button>
        </form>
    </div>

    <div id="logo">
        <a class="panel-logo" href="{{ path('app_index') }}">
            <span class="big-logo">HandyHub</span>
            <span class="small-logo">HH</span>
        </a>
    </div>
    <div id="left-menu">
        <ul>
            <li id="users-page" class="active">
                <a href="#">
                    <span class="material-icons">
                        person
                    </span>
                    <h3>Users</h3>
                </a>
            </li>
            <li id="categories-page">
                <a href="#">
                    <span class="material-icons">
                        category
                    </span>
                    <h3>Categories</h3>
                </a>
            </li>
            <li id="contracts-page">
                <a href="#">
                    <span class="material-icons">
                        description
                    </span>
                    <h3>Contracts</h3>
                </a>
            </li>
            <li>
                <a href="{{ path('app_logout') }}">
                    <span class="material-icons">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>
            </li>
        </ul>
    </div>
    <div id="main-content">
        <div id="header">
            <div class="header-left float-left">
                <span id="toggle-left-menu" class="material-icons">
                    menu
                </span>
            </div>
            <div class="header-right float-right">
                <span class="material-icons">
                    person
                </span>
            </div>
        </div>

        <div id="page-container">
            <div id="content-users-page" class="page active">
                <div class="card">
                    <table>
                        <caption>Users</caption>
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Surname</th>
                                <th scope="col">Email</th>
                                <th scope="col">Telephone</th>
                                <th scope="col">Roles</th>
                                <th scope="col">Verified</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td data-label="ID">{{ user.id }}</td>
                                <td data-label="Name">{{ user.name }}</td>
                                <td data-label="Surname">{{ user.surname }}</td>
                                <td data-label="Email">{{ user.email }}</td>
                                <td class="min-h" data-label="Telephone">{{ user.telephone is defined ? user.telephone : 'N/A' }}</td>
                                <td data-label="Roles">{{ user.roles|first }}</td>
                                <td class="{{ (user.roles|first in ['ROLE_ADMIN', 'ROLE_SUPERADMIN']) ? '' : (user.isVerified is defined and user.isVerified ? 'verified' : '') }}" data-label="Verified">
                                    {% if user.isVerified is defined %}
                                        {% if user.roles|first not in ['ROLE_ADMIN', 'ROLE_SUPERADMIN'] and not user.isVerified %}
                                            <button class="btn m0-auto resend-btn check-user" data-id="{{ user.id }}">Resend</button>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td data-label="">
                                    <button class="btn edit-user" data-id="{{ user.id }}">
                                        <span class="material-icons">
                                            edit
                                        </span>
                                    </button>
                                    {% if user.roles|first != 'ROLE_SUPERADMIN' %}
                                        <button class="btn trash-user" data-id="{{ user.id }}">
                                            <span class="material-icons">
                                                delete_forever
                                            </span>
                                        </button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <form class="form-layer w-35">
                        <fieldset>
                            <legend>Add admin</legend>
                            <div class="form-item">
                                <label for="name">Name</label>
                                <input type="text" id="name" name="name" required>
                            </div>
                            <div class="form-item">
                                <label for="surname">Surname</label>
                                <input type="text" id="surname" name="surname" required>
                            </div>
                            <div class="form-item">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" required>
                                <div id="email-error" class="error"></div>
                            </div>
                            <div class="form-item form-item--pass">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" required>
                            </div>
                            <div class="form-item form-item--pass">
                                <label for="confirm_password">Repeat password</label>
                                <input type="password" id="confirm_password" name="confirm_password" required>
                                <div id="password-error" class="error"></div>
                            </div>
                            <div class="form-item button">
                                <input type="submit" id="addAdmin" name="submit" value="Add admin">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div id="content-categories-page" class="page">
                <div class="w-35 pb-1">
                    <div class="flex-input">
                        <input type="text" id="category" name="category" class="category-input" placeholder="New Category">
                        <button id="addCategory" class="btn">Add</button>
                    </div>
                </div>
                <div class="card w-35">
                    <table>
                        <caption>Categories</caption>
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Category</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                                <tr>
                                    <td data-label="ID">{{ category.id }}</td>
                                    <td data-label="Name">{{ category.category }}</td>
                                    <td data-label="">
                                        <button class="btn edit-category" data-id="{{ category.id }}">
                                            <span class="material-icons">
                                                edit
                                            </span>
                                        </button>
                                        <button class="btn trash-category" data-id="{{ category.id }}">
                                            <span class="material-icons">
                                                delete_forever
                                            </span>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="content-contracts-page" class="page">
                <div class="card">
                    <table class="collapse">
                        <caption>Contracts</caption>
                        <thead>
                            <tr>
                                <th scope="col">Contract ID</th>
                                <th scope="col">Client ID</th>
                                <th scope="col">Specialist ID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Start hour</th>
                                <th scope="col">End hour</th>
                                <th scope="col">Price per hour</th>
                                <th scope="col">Taxes</th>
                                <th scope="col">Total</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contract in contracts %}
                            <tr>
                                <td data-label="ID">{{ contract.id }}</td>
                                <td data-label="Name">{{ contract.client.id }}</td>
                                <td data-label="Surname">{{ contract.specialist.id }}</td>
                                <td data-label="Fecha">{{ contract.date|date('d-m-Y') }}</td>
                                <td data-label="Hora de comienzo">{{ contract.hourIn }}</td>
                                <td data-label="End hour">
                                    {% if contract.status != 'in_progress' %}
                                        {{ contract.hourOut }}
                                    {% endif %}
                                </td>
                                <td data-label="Email">{{ contract.pricePerHour }}</td>
                                <td data-label="Email">{{ contract.tax }}</td>
                                <td data-label="Roles">{{ contract.totalPrice }}</td>
                                <td data-label="Status">
                                    {% if contract.status == 'in_progress' %}
                                        <span class="in-progress">In Progress</span>
                                    {% elseif contract.status == 'completed' %}
                                        <span class="completed">Completed</span>
                                    {# {% elseif contract.status == 'rejected' %}
                                        <span class="rejected">Rejected</span> #}
                                    {% endif %}
                                </td>
                                <td data-label="">
                                    {% if contract.status == 'in_progress' %}
                                        <button class="btn check-contract">
                                            <span class="material-icons">done_all</span>
                                        </button>
                                        {# <button class="btn trash-contract" data-id="{{ contract.id }}">
                                            <span class="material-icons">thumb_down_alt</span>
                                        </button> #}
                                    {% elseif contract.status == 'completed' %}
                                        <button class="btn check-contract" type="button">
                                            Ver factura
                                        </button>
                                    {# {% elseif contract.status == 'rejected' %}
                                        <button class="btn edit-contract">
                                            Ver
                                        </button> #}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('panels') }}
    {{ encore_entry_script_tags('form') }}
{% endblock %}
