{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('panels-css') }}
    {{ encore_entry_link_tags('table') }}
{% endblock %}

{% block body %}
    <div id="logo">
        <a class="panel-logo" href="{{ path('app_index') }}">
            <span class="big-logo">HandyHub</span>
            <span class="small-logo">HH</span>
        </a>
    </div>
    <div id="left-menu">
        <ul>
            <li id="users-page" class="active">
                <a href="#">
                    <span class="material-icons">
                        person
                    </span>
                    <h3>Users</h3>
                </a>
            </li>
            <li id="categories-page">
                <a href="#">
                    <span class="material-icons">
                        category
                    </span>
                    <h3>Categories</h3>
                </a>
            </li>
            <li id="contracts-page">
                <a href="#">
                    <span class="material-icons">
                        description
                    </span>
                    <h3>Contracts</h3>
                </a>
            </li>
            <li>
                <a href="{{ path('app_logout') }}">
                    <span class="material-icons">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>
            </li>
        </ul>
    </div>
    <div id="main-content">
        <div id="header">
            <div class="header-left float-left">
                <span id="toggle-left-menu" class="material-icons">
                    menu
                </span>
            </div>
            <div class="header-right float-right">
                <span class="material-icons">
                    person
                </span>
            </div>
        </div>

        <div id="page-container">
            <div id="content-users-page" class="page active">
                <div class="card">
                    <table>
                        <caption>Users</caption>
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Surname</th>
                                <th scope="col">Email</th>
                                <th scope="col">Telephone</th>
                                <th scope="col">Roles</th>
                                <th scope="col">Verified</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td data-label="ID">{{ user.id }}</td>
                                <td data-label="Name">{{ user.name }}</td>
                                <td data-label="Surname">{{ user.surname }}</td>
                                <td data-label="Email">{{ user.email }}</td>
                                <td class="min-h" data-label="Telephone">{{ user.telephone is defined ? user.telephone : 'N/A' }}</td>
                                <td data-label="Roles">{{ user.roles|first }}</td>
                                <td class="{{ (user.roles|first in ['ROLE_ADMIN', 'ROLE_SUPERADMIN']) ? '' : (user.isVerified is defined and user.isVerified ? 'verified' : 'no-verified') }}" data-label="Verified"></td>
                                <td data-label="">
                                    <button class="btn edit">
                                        <span class="material-icons">
                                            edit
                                        </span>
                                    </button>
                                    {% if user.roles|first != 'ROLE_SUPERADMIN' %}
                                        <button class="btn trash" data-id="{{ user.id }}">
                                            <span class="material-icons">
                                                delete_forever
                                            </span>
                                        </button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="content-categories-page" class="page">
                <div class="card">
                    <table>
                        <caption>Categories</caption>
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Category</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td data-label="ID">{{ user.id }}</td>
                                <td data-label="Name">{{ user.name }}</td>
                                <td data-label=""></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="content-contracts-page" class="page">
                <h1>Adios</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('panels') }}
{% endblock %}
