{% extends 'base.html.twig' %}

{% block title %}HandyHub | Resumen contrato{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contract-css') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('contract-js') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="contract">
            {# <h2>Resumen de contrato</h2> #}
            <div class="content-pre-contract">
                <form action="{{ path('app_contract_start') }}" method="POST">
                    <fieldset>
                        <legend>Pre contrato</legend>
                        <div class="d-flex">
                            <input type="text" name="cName" class="" value="{{ clients[0].name }}" disabled>
                            <input type="text" name="cSurname" class="" value="{{ clients[0].surname }}" disabled>
                        </div>
                        <div class="d-flex">
                            <input type="text" name="cAddress" class="" value="{{ clients[0].address }}" disabled>
                            <input type="text" name="cTelephone" class="" value="{{ clients[0].telephone }}" disabled>
                        </div>
                        <div class="d-flex name">
                            <input type="text" name="sName" class="" value="{{ specialists['name'] }}" disabled>
                            <input type="text" name="sSurname" class="" value="{{ specialists['surname'] }}" disabled>
                        </div>
                        <div class="d-flex">
                            <input type="text" name="sCategory" class="" value="{{ specialists.category }}" disabled>
                            <input type="text" name="sTelephone" class="" value="{{ specialists.telephone }}" disabled>
                        </div>
                        <div class="d-flex">
                            <input type="date" name="date" class="" value="{{ date }}" disabled>
                            <input type="time" name="hourIn" class="" value="{{ hour }}" disabled>
                        </div>
                        <div class="d-flex">
                            <input type="text" name="pricePerHour" class="" value="{{ specialists.pricePerHour }}" disabled>
                            <input type="string" name="tax" class="" value="7%" disabled>
                        </div>
                        <div class="d-flex-center">
                            <input type="number" name="total" class="" value="{{ specialists.total }}" disabled>
                        </div>
                        <div class="d-flex buttons">
                            <a href="{{ path('app_services') }}" class="btn reject">Rechazar</a>
                            <button class="btn accept" type="submit">Aceptar</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
