<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="./resources/images/logo-light.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
        {# {{ encore_entry_link_tags('sm-menu') }} #}
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <header class="header">
                <div class="header__icon"><img src="{{ asset('resources/images/logo-light.png') }}" /></div>
                <div class="ds-menu">
                    <nav class="header__nav">
                        <ul>
                            <li><a href="{{ path('app_index') }}">Inicio</a></li>
                            <li><a href="{{ path('app_about') }}">Quiénes somos</a></li>
                            <li><a href="{{ path('app_services') }}">Servicios</a></li>
                            <li><a href="{{ path('app_support') }}">Soporte</a></li>
                        </ul>
                    </nav>
                    <div class="header__button">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <div class="dropdown">
                                <img class="user-image" src="{{ asset(app.user.image) }}" alt="User image" />
                                <ul class="dropdown-menu">
                                    <p>Hola, <span style="color: var(--red-color)">{{ app.user.name }}</span></p>
                                    {% if is_granted('ROLE_SUPERADMIN') or is_granted('ROLE_ADMIN') %}
                                        <li>
                                            <a class="dropdown-item" href="{{ path('app_admin_panel') }}">Panel de admin</a>
                                        </li>
                                    {% elseif is_granted('ROLE_CLIENT') %}
                                        <li>
                                            <a class="dropdown-item" href="{{ path('app_client_panel') }}">Mi cuenta</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a class="dropdown-item" href="{{ path('app_specialist_panel') }}">Mi cuenta</a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a class="dropdown-item" href="logout">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            <a class="login" href="{{ path('app_login') }}">Entrar</a>
                        {% endif %}
                    </div>
                </div>
                <div class="sm-menu">
                    <div id="menu" class="menu btn1" data-menu="1">
                        <div class="icon-left"></div>
                        <div class="icon-right"></div>
                    </div>
                    <div id="menu-toggler" class="menu-container">
                        <div class="menu-flex">
                            <a href="{{ path('app_index') }}">Inicio</a>
                            <a href="{{ path('app_about') }}">Quiénes somos</a>
                            <a href="{{ path('app_services') }}">Servicios</a>
                            <a href="{{ path('app_support') }}">Soporte</a>
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                {% if is_granted('ROLE_SUPERADMIN') or is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('app_admin_panel') }}">Panel de admin</a>
                                {% elseif is_granted('ROLE_CLIENT') %}
                                    <a href="{{ path('app_client_panel') }}">Mi cuenta</a>
                                {% else %}
                                    <a href="{{ path('app_specialist_panel') }}">Mi cuenta</a>
                                {% endif %}
                                <a class="login" href="{{ path('app_logout') }}">Log out</a>
                            {% else %}
                                <a class="login" href="{{ path('app_login') }}">Login</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
